body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 2vw;
}

button {
  background: white;
  border-radius: 0.3vw;
  font-size: 2vw;
  color: #555;
  cursor: pointer;
  border: 1px solid #bbb;
  text-transform: uppercase;
  outline: none;
}

button:hover {
  border: 1px solid #555;
}

input {
  font-size: 2vw;
}

@keyframes red_flash {
  0% { background: rgba(255,0,0,0); }
  50% { background: rgba(255,0,0,1); }
  100% { background: rgba(255,0,0,0); }
}

@keyframes blue_flash {
  0% { background: rgba(0,0,255,0); }
  50% { background: rgba(0,0,255,1); }
  100% { background: rgba(0,0,255,0); }
}

.red_flash {
  animation-duration: 1s;
  animation-name: red_flash;
  animation-iteration-count: 1;
}

.blue_flash {
  animation-duration: 1s;
  animation-name: blue_flash;
  animation-iteration-count: 1;
}
